SVXLINK_WEBUI_DEMO=true
SVXLINK_NODE_NAME=DB0XYZ-R
SVXLINK_CALLSIGN=DB0XYZ-R
SVXLINK_LOCATION=Example City
SVXLINK_CONFIG_PATH=/etc/svxlink/svxlink.conf
SVXLINK_NODE_INFO_PATH=/var/lib/svxlink/node_info.json
SVXLINK_SERVICE_NAME=svxlink

# SHARI / SA818S hardware
SHARI_SERIAL_PORT=/dev/ttyUSB0
SHARI_SERIAL_BAUD=9600
SHARI_SERIAL_TIMEOUT=0.8
